<% layout("layout/boilerplate")-%>


  
      
      
    

    <main class=" text-center pb-1 mt-md-7 mt-lg-0 mt-sm-5 mt-xs-custom hero-section mt-5">
        <div class="row align-items-center ml-4 mr-4">
            <div class="col-lg-6">
                <h1 class="display-4 fw-bold fs-1 pt-0">Welcome to Our E-Commerce Site!</h1>
                <p class="lead mb-4">Explore a wide range of products and enjoy exclusive deals. Add items to your cart and make the most of your shopping experience.</p>
                <a href="/products" class="btn btn-lg btn-secondary font-weight-bold">View Products</a>
            </div>
            <div class="col-lg-6 d-none d-lg-block bg-image">
                <!-- Add your illustration here -->
                <img  src="/images/homePage.png" alt="Shopping Illustration" class="img-fluid pt-0">
            </div>
        </div>
    </main>

    
  


